<div class="notifications">
    <div class="header">
        <div class="refresh-icon" (click)="onRefreshClick()">
            <ion-icon name="refresh-outline"></ion-icon>
        </div>
        <button class="back-icon" (click)="goBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <h1 class="title">Notifications</h1>
    </div>
    <div class="notifications-list">
        <div *ngIf="loading" class="spinner-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div class="notification-card" *ngFor="let notif of notifications | filterScheduledBeforeToday" @slideInRight>
            <div class="notif-image-container">
                <img *ngIf="notif.imageBase64" [src]="'data:image/png;base64,' + notif.imageBase64"
                    class="notif-image" />
                <div *ngIf="!notif.imageBase64" class="notif-image-blank">
                    <span>No image</span>
                </div>
            </div>
            <h2 class="notif-title">{{ notif.title }}</h2>
            <p class="notif-desc">{{ notif.description }}</p>
            <p class="notif-message">{{ notif.messageBody }}</p>
            <span class="notif-date">{{ notif.scheduledAt | date:'medium' }}</span>
            <div class="like-icon" (click)="onLikeClick(notif.notificationId)">
                <ion-icon [name]="notif.liked ? 'heart' : 'heart-outline'"></ion-icon>
            </div>
        </div>
    </div>
</div>