<div class="branches-header">
    <div class="header">
        <button class="back-icon" (click)="goBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <h1 class="title">We are located</h1>
    </div>
</div>

<div class="branches-list-container">
    <div class="branch-card" *ngFor="let branch of branches">
        <h2 class="branch-name">{{ branch.branchName }}</h2>
        <div class="branch-details">
            <span class="branch-address">
                <ion-icon name="location-outline"></ion-icon>
                {{ branch.address }}
            </span>
            <a class="branch-contact" [href]="'tel:' + branch.contact" (click)="$event.stopPropagation()">
                <ion-icon name="call-outline"></ion-icon>
                {{ branch.contact }}
            </a>
            <span class="branch-hours">
                <ion-icon name="time-outline"></ion-icon>
                {{ branch.hours }}
            </span>
        </div>
        <span class="branch-location-icon" (click)="openMapModal(branch)">
            <ion-icon name="location-sharp"></ion-icon>
        </span>
    </div>
</div>
<div class="map-modal" *ngIf="showMapModal">
    <div class="map-modal-backdrop" (click)="closeMapModal()"></div>
    <div class="map-modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeMapModal()">&times;</button>
        <div class="map-modal-title">{{ selectedBranch?.branchName }}</div>
        <app-map [lat]="selectedBranch?.lat" [lng]="selectedBranch?.lng" [address]="selectedBranch?.address"></app-map>
    </div>
</div>