<div class="dashboard" @slideInLeft>

    <div class="header">
        <span class="sync-icon">
            <ion-icon name="sync-outline"></ion-icon>
        </span>
        <button class="qr-icon" (click)="goToGenerateQr()">
            <ion-icon name="qr-code-outline"></ion-icon>
        </button>
        <h2 class="brand">amesco<span class="plus">plus</span></h2>
        <p class="tagline">basta amesco, mas kumpleto<br />hanep sa serbisyo</p>
    </div>

    <div class="halved-circle-bg-1"></div>
    <div class="halved-circle-bg-2"></div>

    <div class="circle-section">
        <button class="circle points-circle" (click)="goToEarnedPoints()">
            <span class="value">{{ points }}</span>
        </button>
        <button class="points-label">Earned Points</button>
        <button class="circle redeem-circle" (click)="goToCreateVoucher()">
            <fa-icon [icon]="faWallet" class="wallet-icon"></fa-icon>
            <span class="value">Redeem</span>
            <span *ngIf="loadingPoints" class="spinner"></span>
        </button>
        <button class="vouchers-label" (click)="goToUnusedVouchers()">Vouchers</button>
        <div class="circle profile-circle" *ngIf="profileImage; else placeholder"
            [style.background-image]="'url(' + profileImage + ')'">
        </div>

        <ng-template #placeholder>
            <div class="circle profile-circle">
                {{ memberName?.charAt(0) }}
            </div>
        </ng-template>
        <div class="id-number">ID: {{ memberId }}</div>
        <div class="member-name">{{ memberName }}</div>
    </div>

    <div class="right-circles-bg"></div>
    <div class="right-circles-section">
        <button class="small-circle" (click)="goToNotifications()">
            <span class="icon">
                <ion-icon name="notifications-outline"></ion-icon>
            </span>
        </button>
        <div class="small-circle" (click)="goToChangePassword()">
            <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </span>
        </div>
        <div class="small-circle" (click)="goToMemberProfile()">
            <span class="icon">
                <ion-icon name="person-outline"></ion-icon>
            </span>
        </div>
        <div class="small-circle" (click)="openMenuModal()">
            <span class="icon">
                <ion-icon name="menu-outline"></ion-icon>
            </span>
        </div>
    </div>

    <div class="carousel-footer">
        <div class="carousel-container">
            <button class="carousel-btn left" [class.disabled]="currentSlide === 0" (click)="prevSlide()"
                [disabled]="currentSlide === 0">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </button>
            <div class="carousel-track" [style.transform]="trackTransform">
                <div class="carousel-slide" *ngFor="let item of carouselItems" [style.width.%]="100">
                    <img [src]="item.src" [alt]="item.alt" class="carousel-image" />
                </div>
            </div>
            <!-- Carousel indicators -->
            <div class="carousel-indicators">
                <span *ngFor="let item of carouselItems; let i = index" [class.active]="i === currentSlide"
                    class="carousel-indicator"></span>
            </div>
            <button class="carousel-btn right" [class.disabled]="currentSlide === carouselItems.length - 1"
                (click)="nextSlide()" [disabled]="currentSlide === carouselItems.length - 1">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
        </div>
    </div>
</div>
<app-menu-modal *ngIf="showMenu" [closingMenu]="closingMenu" (close)="startCloseMenu()"
    (animationDone)="animationDone($event)">
</app-menu-modal>