<div class="change-password" @slideInRight>
    <div class="header">
        <button class="back-icon" (click)="goBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <h1 class="title">Change Password</h1>
    </div>

    <div class="lock-image">
        <img src="/LOCK.png" alt="Lock Image" class="lock-img" />
    </div>

    <div class="newPassword-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" type="password" placeholder="New Password" name="newPassword"
            [(ngModel)]="newPassword" />
    </div>
    <div class="confirmPassword-group" *ngIf="newPassword && newPassword.length > 0">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" placeholder="Confirm Password" name="confirmPassword"
            [(ngModel)]="confirmPassword" />
    </div>
    <div class="update-button" *ngIf="newPassword && confirmPassword && newPassword === confirmPassword">
        <button type="submit">UPDATE</button>
    </div>
</div>